html,
body {
    margin: 0;
    overflow: hidden;
    height: 100%;
}

.buttons{
    position: relative;
}

.btn-group{
    position: absolute;
    bottom: 0;
    right: 0;
}

.connect {
	background-color: #A9A9A9; /* dark grey */
	margin-right:16px;
	width:150px;
}

.no-click {
    pointer-events: none;
}

/* Scale canvas with resize attribute to full size */
#canvas {
    width: 100%;
    height: 100%;
    border:10px solid black;
    background: #cdcdcd;
}

div.wrap {
    width:80%;
    margin-left:20%;
    
}

#btnSearch,
#btnClear{
    display: inline-block;
    vertical-align: top;
}

.btn-primary-outline {
  background-color: #cdcdcd;
  border-color: #ccc;
}

html, body {
    margin: 0;
    height: 100%;
}