html,
body {
    margin: 0;
    overflow: hidden;
    height: 100%;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    float: left;
}

.connect {
	background-color: #A9A9A9; /* dark grey */
	margin-right:16px;
	width:150px;
}

.no-click {
    pointer-events: none;
}

/* Scale canvas with resize attribute to full size */
canvas {
    width: 100%;
    height: 100%;
}